# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [2]:
!pip install -q condacolab

In [4]:
import condacolab 
condacolab.install()

‚è¨ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
üì¶ Installing...
üìå Adjusting configuration...
ü©π Patching environment...
‚è≤ Done in 0:00:23
üîÅ Restarting kernel...

In [4]:
!conda install -y pyhive sasl

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - done
Solving environment: | / - \ | / - \ | / - \ done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - pyhive
    - sasl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cyrus-sasl-2.1.27          |       h3274739_1         224 KB  conda-forge
    libntlm-1.4                |    h7f98852_1002          32 KB  conda-forge
    sasl-0.3.1                 |   py37hcd2ae1e_0          74 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         330 KB

The following NEW packages will be INSTALLED:

  cyrus-sasl         conda-forge/linux-64::cyrus-sasl-2.1.27-h3274739_1
  libntlm            conda-forge/linux-64::libntlm-1.4-h7f98852_1002
  sasl               conda-forge/linux-64::sasl-0.3.1-py37hcd2ae1e_0



Downloading and Extracting Packages
sasl-0.3.1           | 74 KB     | : 100% 1.0/1 [00:00<00:00,  5.59it/s]
libntlm-1.4          | 32 KB     | : 100% 1.0/1 [00:00<00:00, 33.98it/s]
cyrus-sasl-2.1.27    | 224 KB    | : 100% 1.0/1 [00:00<00:00, 14.73it/s]
Preparing transaction: / done
Verifying transaction: \ done
Executing transaction: / done

In [12]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [13]:
# try to connect
server="ec2-54-155-223-96.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [14]:
#show our databases
cursor.execute('show databases')

In [15]:
#get data from execution
cursor.fetchall()

[('default',)]

In [16]:
#use default db
cursor.execute('use default')

In [17]:
#show tables in db
cursor.execute('show tables')

In [18]:
cursor.fetchall()

[('employee',), ('salary',)]

In [19]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [20]:
#select data
cursor.execute('select * from employee')

In [21]:
#get daata from selction
employee = cursor.fetchall()

In [22]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [33]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [36]:
#select data
cursor.execute('select * from salary')

In [37]:
#get daata from selction
salary = cursor.fetchall()

In [38]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()