# GroupBy - Occupation

### Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

###  Assign it to a variable called users.

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
users.head(5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### What is the mean age per occupation?

### Discover the Male ratio per occupation and sort it from the most to the least

### For each occupation, calculate the minimum and maximum ages

### For each combination of occupation and gender, calculate the mean age

### For each occupation present the percentage of women and men